.topPanel {
  display: flex;
  align-items: center;
}
.heading {
  flex-basis: 80%;
}
.publishingContainer {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: auto;
}
.publishingSwitch {
  margin-left: 16px;
}